################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################
/.vs
/src/.vs
/src/ContaMe.Api/obj
/src/ContaMe.Domain/obj
/src/ContaMe.Api/bin
/src/ContaMe.Domain/bin
/tests/ContaMe.Domain.Tests/bin/Debug/net5.0
/tests/ContaMe.Domain.Tests/obj/Debug/net5.0
*.json
*.props
*.cache
*.targets
